[Service]
Type=simple

ExecStart=
ExecStart=/usr/bin/chronyd -f {{ chrony_config_file }} -U

DynamicUser=true
User=chrony
Group=chrony

RuntimeDirectory=chrony
RuntimeDirectoryMode=0770
StateDirectory={{ chrony_config_driftfile | dirname }}
ConfigurationDirectory={{ chrony_config_file | dirname }}

PIDFile=/run/chrony/chronyd.pid

KeyringMode=private
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateMounts=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadWritePaths={{ chrony_config_driftfile | dirname }} /run/chrony
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=@system-service @clock
SystemCallArchitectures=native

DeviceAllow=char-rtc
DevicePolicy=closed

AmbientCapabilities=CAP_SYS_TIME CAP_NET_BIND_SERVICE CAP_NET_RAW
